version: "3.9"

services:
  fubot:
    build: .
    image: fubot${ENVIRONMENT}
    container_name: fubot-${ENVIRONMENT}
    restart: unless-stopped
    logging:
      driver: "journald"
      options:
        tag: "{{.Name}}/{{.ImageID}}"
    environment:
    - LOGLEVEL=${LOGLEVEL}
    - DISCORDTOKEN=${DISCORDTOKEN}
    - CENSUS_TOKEN=${CENSUS_TOKEN}
    - MONGO_ADDRESS=${MONGO_ADDRESS}
    - MONGO_USERNAME=${MONGO_USERNAME}
    - MONGO_PASSWORD=${MONGO_PASSWORD}
    - ARMA_DB_HOST=${ARMA_DB_HOST}
    - ARMA_DB_TOKEN=${ARMA_DB_TOKEN}
    - ARMA_HOST=${ARMA_HOST}
    - ARMA_QUERY_PORT=${ARMA_QUERY_PORT}
    - ARMA_SFTP_HOST=${ARMA_SFTP_HOST}
    - ARMA_SFTP_PORT=${ARMA_SFTP_PORT}
    - ARMA_SFTP_USERNAME=${ARMA_SFTP_USERNAME}
    - ARMA_SFTP_PASSWORD=${ARMA_SFTP_PASSWORD}
    - ARMA_SFTP_MAP_PATH=${ARMA_SFTP_MAP_PATH}
    - METABASE_KEY=${METABASE_KEY}
    extra_hosts:
      - "host.docker.internal:host-gateway"
